.desktop {
  flex: 1;
  display: flex;
}

.mobile {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.link {
  cursor: pointer;
  margin-left: 30px;
}

.burger {
  width: 20px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}

.borderLine {
  width: 60px;
  height: 1px;
  background-color: var(--textColor);
  border-radius: 2px;
  margin: 10px 0px;
  display: block;
}

.responsiveMenus {
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.responsiveMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 22px;
  font-size: 22px;
  height: 80vh;
  transition: all 0.3s ease;
}

.icon {
  font-size: 33px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .responsiveMenuWrapper {
    font-size: 20px;
  }

  .icon {
    font-size: 25px;
  }
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
}
