.link {
  cursor: pointer;
}

.burger {
  width: 20px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}

.borderLine {
  width: 60px;
  height: 1px;
  background-color: var(--textColor);
  border-radius: 2px;
  margin: 10px 0px;
  display: block;
}

.responsiveMenus {
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 80px;
  overflow-y: hidden;
  display: none;
}

.responsiveMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 22px;
  font-size: 22px;
  height: 90vh;
}

.icon {
  font-size: 33px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media screen and (max-width: 1024px) {
  .burger {
    display: flex;
  }

  .responsiveMenus {
    display: flex;
  }

  .link {
    display: none;
  }
}
