.container {
  display: flex;
  justify-content: space-between;
}
.button {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 110px;
  cursor: pointer;
  transition: 0.2s ease;
  font-family: var(--font-openSans);
  background-color: #a21833;
  color: white;
}

.button:hover {
  background-color: #a21834a4;
}

.button:disabled {
  cursor: not-allowed;
}
