.container {
  margin-top: 50px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.category {
  width: fit-content;
  border-radius: 20px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  font-family: var(--font-roboto);
}

.category.news {
  background-color: #eb6e6e;
}

.category.event {
  background-color: #f9c27e;
}

.category.travel {
  background-color: #7fb881;
}

.category.life {
  background-color: #789cff;
}

.category.culture {
  background-color: #faa4b1;
}

.category.food {
  background-color: #c58ee6;
}

.postTitle {
  font-size: 48px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-size: 20px;
  font-family: var(--font-nunito-sans);
}

.date {
  display: flex;
  gap: 20px;
  color: #bdbdbd;
  font-family: var(--font-inter);
  font-size: 15px;
}

.articleImageContainer {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.content {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  width: 100%;
}

.post {
  flex: 5;
  width: 100%;
}

.desc {
  margin-top: 50px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.desc p {
  font-size: 20px;
  font-weight: 300;
  margin: 30px 0;
}

.side {
  flex: 2;
  margin-top: -55px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-top: 30px;
  }

  .postTitle {
    font-size: 36px;
  }

  .userName {
    font-size: 18px;
  }

  .side {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .category {
    padding: 8px;
    font-size: 14px;
  }

  .date {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }

  .postTitle {
    font-size: 32px;
  }

  .articleImageContainer {
    min-height: 400px;
  }

  .divisor {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .category {
    font-size: 12px;
  }

  .postTitle {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .postTitle {
    font-size: 24px;
  }
}
