.container {
  flex: 4.5;
  width: 100%;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-top: 50px;
    border-top: 0.5px solid #dadada;
  }

  .sectionTitleWrapper {
    display: none;
  }

  .posts {
    gap: 0px;
  }
}
