.container {
  margin-bottom: 50px;
  display: flex;
  gap: 50px;
  width: 100%;
}

.imageContainer {
  flex: 1;
  width: 100%;
  position: relative;
  min-height: 350px;
}

.image {
  border-radius: 5px;
}

.textContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 12px;
  padding: 8px 0;
}

.date {
  color: #b6b5b5;
  font-weight: 400;
  font-family: var(--font-inter);
}

.category {
  padding: 3px 10px;
  border-radius: 20px;
  color: white;
  width: max-content;
  margin-right: 10px;
  font-family: var(--font-inter);
}

.category.news {
  background-color: #eb6e6e;
}

.category.event {
  background-color: #f9c27e;
}

.category.travel {
  background-color: #7fb881;
}

.category.life {
  background-color: #789cff;
}

.category.culture {
  background-color: #faa4b1;
}

.category.food {
  background-color: #c58ee6;
}

.title {
  line-height: 1.5;
}

.desc {
  font-size: 18px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.link {
  font-size: 15px;
  border-bottom: 2px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .category {
    font-size: 12px;
  }

  .date {
    font-size: 14px;
  }

  .title {
    font-size: 22px;
  }
}
