.container {
  margin-bottom: 50px;
  display: flex;
  gap: 50px;
}

.imageContainer {
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 350px;
}

.image {
  object-fit: cover;
  border-radius: 5px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  width: 100%;
  padding: 8px 0;
}

.date {
  color: #b6b5b5;
  font-weight: 500;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  color: white;
  width: max-content;
  font-weight: 500;
  margin-right: 10px;
}

.category.culture {
  background-color: #ff795736;
}

.category.travel {
  background-color: #ffb04f45;
}

.category.food {
  background-color: #7fb88133;
}

.category.news {
  background-color: #57c4ff31;
}

.category.event {
  background-color: #da85c731;
}

.category.life {
  background-color: #5e4fff31;
}

.desc {
  font-size: 18px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.link {
  font-size: 15px;
  border-bottom: 2px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}
