:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

p,
textarea {
  font-family: var(--font-roboto);
  font-weight: 300;
  color: var(--softTextColor);
  line-height: 1.5;
  /* text-align: justify; */
}

.dark {
  --bg: #021c1c;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.ql-container {
  font-size: 20px !important;
  min-height: 600px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: var(--textColor);
}
