.items {
  margin-top: 35px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imageContainer {
  flex: 1;
  position: relative;
  min-width: 100px;
  min-height: 100px;
}

.image {
  border: 3px solid lightgray;
  object-fit: cover;
  border-radius: 5px;
}

.textContainer {
  flex: 4;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  width: max-content;
  font-family: var(--font-inter);
}

.category.news {
  background-color: #eb6e6e;
}

.category.event {
  background-color: #f9c27e;
}

.category.travel {
  background-color: #7fb881;
}

.category.life {
  background-color: #789cff;
}

.category.culture {
  background-color: #faa4b1;
}

.category.food {
  background-color: #c58ee6;
}

.postTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--textColor);
}

.detail {
  font-size: 12px;
  color: var(--softTextColor);
}

@media screen and (max-width: 1550px) {
  .imageContainer {
    display: none;
  }
}
